.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
header {
	text-align: center;
	margin: 20px 0;
}
main {
	text-align: center;
	margin: 20px 0;
}
form {
	display: inline-block;
	margin: 20px 0;
}
input[type="email"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	width: 60%;
}
button[type="submit"] {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 30%;
}
#thank-you {
	display: none;
	margin-top: 20px;
}
@media only screen and (max-width: 600px) {
	input[type="email"] {
		width: 50%;
	}
	button[type="submit"] {
		width: 40%;
	}
}
